<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.5.2" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.7.4" targetFramework="net472" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net472" />
</packages>